<!-- dashboard.component.html -->
<div>
    <form (ngSubmit)="onSubmit()">

        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" [(ngModel)]="userName" name="name" required>
        </div>

        <div>
            <label for="dropdown">Select Value:</label>
            <doctor-dropdown (selectedValueChange)="onDropdownValueChange($event)"></doctor-dropdown>
        </div>

        <button type="submit">Give access</button>
    </form>
    <br>

    <button (click)="onOAuthButtonClick()">Call OAuth API</button>
</div>